.experience {
  margin-bottom: 30px;
  padding-bottom: 10px;
  color: black;
  text-align: left;
  border-bottom: 1px solid #c3c3c3;
  /* box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px; */
}

.role {
  margin-bottom: .8em;
}

.description {
  margin-bottom: 1.2rem;
  color: #6d6d6d;
}