.projects-page {
  margin: 0;
  padding: 0;
}

.projects-page h1 {
  color: white;
  text-align: left;
  padding-top: 1.5em;
  margin: 0;
  padding-left: 0.8em;
}

.project-buttons{
  padding-top: 2em;
  padding-bottom: 1em;
  text-align: center;
}

.project-buttons .btn{
  margin: 0 2em;
  background-color: #fbebcd;
  border: #fbebcd;
  outline: #fbebcd;
  color: #0e1218;
}

.projects-page .container {
  margin: 0 auto;
}

.p1,
.p2,
.p3,
.p4,
.p5,
.p6 {
  width: 100%;
  height: 100%;
  border: 0;
  margin: 0;
  padding-top: 5em;
  padding-bottom: 3em;
  outline: 0;
}

.p1 {
  background-color: #187e65;
}
.p1 h2,
.p1 p {
  color: #07392c;
}

.p2 {
  background-color: #0a4b78;
}
.p2 h2,
.p2 p {
  color: #042f4d;
}

.p3 {
  background-color: #facfd2;
}
.p3 h2,
.p3 p {
  color: #3e2042;
}

.p4 {
  background-color: #1d242f;
}
.p4 h2,
.p4 p {
  color: #0e1218;
}

.p5 {
  background-color: #187e65;
}
.p5 h2,
.p5 p {
  color: #07392c;
}

.p6 {
  background-color: #facfd2;
}
.p6 h2,
.p6 p {
  color: #3e2042;
}

.project-left,
.project-right {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: initial;
  margin-bottom: 5em;
}

.content-area {
  background-color: #fbebcd;
  border-radius: 25px;
  width: 60em;
  height: 45em;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.content-area h2 {
  margin: 1em 0 .5em 0;
}

.img-area {
  position: relative;
  min-height: 550px;
}

.img-area img,
.img-area video {
  border-radius: 25px;
  position: absolute;
  -webkit-filter: drop-shadow(rgba(0, 0, 0, 0.35) 0px 5px 15px)
    drop-shadow(rgba(0, 0, 0, 0.35) 0px 5px 15px);
  filter: drop-shadow(rgba(0, 0, 0, 0.35) 0px 5px 15px)
    drop-shadow(rgba(0, 0, 0, 0.35) 0px 5px 15px);
  width: 30em;
  height: 30em;
  margin-top: 30px;
}

.img-below-bg {
  height: 22em;
  width: 22em;
  margin: 0 auto;
  margin-bottom: 3em;
  padding: 0;
  background-color: #fbebcd;
  border-radius: 25px;
}

.img-below {
  margin-top: 1em;
  height: 20em;
  width: 20em;
  border-radius: 25px;
  -webkit-filter: drop-shadow(rgba(0, 0, 0, 0.35) 0px 5px 15px)
    drop-shadow(rgba(0, 0, 0, 0.35) 0px 5px 15px);
  filter: drop-shadow(rgba(0, 0, 0, 0.35) 0px 5px 15px)
    drop-shadow(rgba(0, 0, 0, 0.35) 0px 5px 15px);
}

.project-left .content-area {
  text-align: left;
}

.project-right .content-area {
  text-align: right;
  padding-right: 2em;

}
.project-right .content-area h2 {
  padding-left: 7em;
} 
.project-right .content-area p {
  padding-left: 19em;
}
.project-right .content-area .disclaimer {
  padding-left: 12em;
}

.project-left .content-area h1,
.project-left .content-area p {
  max-width: 55%;
}

.project-left .img-area img,
.project-left .img-area video {
  margin-left: -23em;
}

.project-right .img-area {
  padding-right: 12em;
  z-index: 2;
}

@media (max-width: 1200px) {
  .project-left .content-area {
    padding-right: 100px;
  }

  .project-right .content-area {
    padding-left: 100px;
  }

  .img-area img,
  .img-area video {
    width: 13em;
    height: 13em;
  }
}

@media (max-width: 991px) {
  .project-left .content-area {
    padding-right: 75px;
  }

  .project-right .content-area {
    padding-left: 75px;
  }

  .img-area img,
  .img-area video {
    width: 12em;
    height: 12em;
  }
}

@media (max-width: 767px) {
  .content-area {
    display: inline-block;
    width: 75%;
    flex: none;
    max-width: none;
  }

  .project-left .content-area {
    margin: 0 auto;
    padding: 0;
    text-align: left;
  }

  .project-right .content-area {
    margin: 0 auto;
    padding: 0;
    text-align: left;
  }

  .img-area img,
  .img-area video {
    width: 13em;
    height: 13em;
  }
}

@media (max-width: 576px) {
  .content-area {
    display: inline-block;
    width: 75%;
    flex: none;
    max-width: none;
  }

  .project-left .content-area {
    margin: 0 auto;
    padding: 0;
    text-align: left;
  }

  .project-right .content-area {
    margin: 0 auto;
    padding: 0;
    text-align: left;
  }

  .img-area img,
  .img-area video {
    width: 10em;
    height: 10em;
  }
}
