.sidebar {
  color: black;
  position: -webkit-sticky;
  position: sticky;
  top: 30%;
  font-size: 20px;
}

.sidebar .nav-item {
  padding: 0 0.3em;
  background-size: 100% 0.2em;
  position: relative;
  left: 0;
  transition: background-size 0.25s ease-in, left 0.25s ease-in;
}

.sidebar .nav-item:hover {
  background-image: linear-gradient(120deg, red 0%, red 100%);
  background-repeat: no-repeat;
  background-position: 0 88%;
  background-size: 100% 30%;
}

.sidebar .active {
  position: relative;
  left: 10px;
  /* background-image: linear-gradient(120deg, #84fab0 0%, #24b659 100%); */
  background-image: linear-gradient(120deg, red 0%, red 100%);
  background-repeat: no-repeat;
  background-position: 0 88%;
  background-size: 100% 30%;
  transition: background-size 0.25s ease-in, left 0.25s ease-in;
}